# Imports

# Imports

In [2]:
import math
import os
import random
import re
import sys

# Task

https://pynative.com/python-dictionary-exercise-with-solutions/

Exercise 1: Convert two lists into a dictionary

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]


d1=dict(zip(keys, values))
d1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Exercise 2: Merge two Python dictionaries into one

In [5]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

d3=dict1
d3.update(dict2)
d3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

Exercise 3: Print the value of key ‘history’ from the below dict

In [16]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict["class"]['student']['marks']['history']

80

Exercise 4: Initialize dictionary with default values

In [17]:
d1={}
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

for name in employees:
    d1[name]=defaults
d1

{'Kelly': {'designation': 'Developer', 'salary': 8000},
 'Emma': {'designation': 'Developer', 'salary': 8000}}

Exercise 5: Create a dictionary by extracting the keys from a given dictionary

In [18]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

# Keys to extract
keys = ["name", "salary"]

In [26]:
{k: sample_dict[k] for k in keys}

{'name': 'Kelly', 'salary': 8000}

In [27]:
sample_dict['name']
sample_dict['salary']

8000

Exercise 6: Delete a list of keys from a dictionary

In [52]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york",
    "nick": "linguica"
}

# Keys to remove
keys = ["city", "age"]

In [53]:
for k in keys:
    sample_dict.pop(k)

sample_dict

{'name': 'Kelly', 'salary': 8000, 'nick': 'linguica'}

Exercise 7: Check if a value exists in a dictionary

In [54]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

for v in sample_dict.values():
    if v == 200:
        print('200 present in a dict')

200 present in a dict

Exercise 8: Rename key of a dictionary

In [58]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

new_loc={"location": "New york"}


sample_dict.pop("city")
sample_dict.update(new_loc)

sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

Exercise 9: Get the key of a minimum value from the following dictionary

In [62]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min(sample_dict.values())

65

Exercise 10: Change value of a key in a nested dictionary

Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [68]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict['emp3']['salary']=8500

sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}