# Imports

# Imports

In [2]:
import math
import os
import random
import re
import sys

# Task

Exercise 1: Reverse the tuple

In [1]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

Exercise 2: Access value 20 from the tuple

In [2]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

Exercise 3: Create a tuple with single item 50

In [8]:
a=(50,)
a

(50,)

Exercise 4: Unpack the tuple into 4 variables

In [9]:
tuple1 = (10, 20, 30, 40)
a=tuple1[0]
b=tuple1[1]
c=tuple1[2]
d=tuple1[3]

print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

In [10]:
a, b, c, d = tuple1

print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

Exercise 5: Swap two tuples in Python

In [11]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1,tuple2=tuple2,tuple1

print(tuple1,tuple2)

(99, 88) (11, 22)

Exercise 6: Copy specific elements from one tuple to a new tuple


Write a program to copy elements 44 and 55 from the following tuple into a new tuple.

In [12]:
tuple1 = (11, 22, 33, 44, 55, 66)
t2=()
for element in tuple1:
    if element == 44 or element == 55:
        t2 += (element, )
t2

(44, 55)

Exercise 7: Modify the tuple
Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222

In [14]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0]=222

tuple1

(11, [222, 33], 44, 55)

Exercise 8: Sort a tuple of tuples by 2nd item inside the tuple

In [21]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

tuple1=tuple(sorted(tuple1, key=lambda x:x[1]))

tuple1

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [23]:
tuple1 = (50, 10, 60, 70, 50)
counter=int()
for element in tuple1:
    if element == 50:
        counter+=1
print(counter)

2

Exercise 10: Check if all items in the tuple are the same

In [27]:
tuple1 = (45, 45, 45, 45)


for element in tuple1:
    if element == element:
        print('True')

True
True
True
True